.section-work {
    background: #E9EDEF;
    text-align: center;
}

.title-section-work {
    padding-top: 96px;
}

.work-img {
    position: relative;
    width: 283px;
    display: none;
}
.active-img {
    display: block;
}

.image-with-hover-block {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 1s;
    background: #E9EDEF;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-top: 2px solid var(--native-color);
    
}

.work-img:hover .image-with-hover-block {
    opacity: 1;
    
}

.hover-img {
    margin-top: 46px;
}

.hover-title {
    margin-top: 23px;
    font-style: normal;
    font-weight: bold;
    font-size: 14.1771px;
    line-height: 25px;
    text-transform: uppercase;
    color: var(--native-color);
}

.hover-text {

    font-style: normal;
    font-weight: 300;
    font-size: 12.1518px;
    line-height: 25px;
    color: #8A8A8A;
}

.list-work-wrapper {
    display: flex;
    flex-wrap: wrap;
    /* margin-top: 71px; */
    align-items: center;
    justify-content: center;
    /* margin-bottom: 83px; */
}

.title-section-new {
    padding-top: 82px;
}
.rounded-icon-block {
    margin-top: 40px;
    display: flex;
    
}
.d-none {
   display: none;
}