.button-search {
    background-image: url("../Img/Search icon.svg");
    width: 21px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    background-color: Transparent;
    cursor: pointer;
    overflow: hidden;
}

.btn-section {
    width: 362px;
    margin-top: 129px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 243px;
}

.btn {

    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 32px;
    padding: 16px 25px;
    text-transform: uppercase;
    color: #FFFFFF;
    border-radius: 3px;
    border: 0;
    cursor: pointer;
    /* box-sizing: border-box; */
    box-shadow: 0 -5px 0 rgb(255, 255, 255);
}

.btn-green {
    background-color: var(--native-color);


}

.btn-blue {
    background-color: #00CBF6;
}

.purchhase-btn {
    margin-top: 62px;
    margin-bottom: 127px;
}

.filter-btn-list {

    margin-top: 97px;
    display: flex;
margin-bottom: 71px;
    justify-content: center;
}

.filter-btn {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 31px;
    padding: 13px 15px;
    cursor: pointer;
    color: #717171;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #DADADA;
}

.filter-btn-active {
    color: var(--native-color);

    border: 2px solid var(--native-color);
}

.Load-btn-block {
    padding-bottom: 62px;
    margin-top: 83px;
}

.Load-btn {
    background-color: var(--native-color);
    background-image: url("../Img/Forma 1.svg");
    background-repeat: no-repeat;
    /* background-position-x: 23px; */
    background-position: 23px 20px;
        font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 32px;
    padding: 16px 25px 16px 56px;
    text-transform: uppercase;
    color: #FFFFFF;
    border-radius: 3px;
    border: 0;
    cursor: pointer;
}

.btn-cookies-green {

    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    padding: 8px 25px;
   
    color: #FFFFFF;
    border-radius: 3px;
    border: 0;
    cursor: pointer;
    
    box-shadow: 0 -5px 0 rgb(255, 255, 255);
    background-color: var(--native-color);
}

.btn-cookies-blue {

    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    padding: 8px 25px;
    color: #FFFFFF;
    border-radius: 3px;
    border: 0;
    cursor: pointer;
    box-shadow: 0 -5px 0 rgb(255, 255, 255);
    background-color: #00CBF6;
}

.btn-scroll-to-top {
    background-image: url("../Img/arrow.png");
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.2);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
    position: fixed;
    bottom: 50px;
    right: 0;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    transition-duration: 0.4s;
    opacity: 0;
}

.btn-scroll-to-top:hover {
    background-color: rgba(0, 0, 0, 0.6);
}
.hidden {
    opacity: 1;
    z-index: 99;
  }