.cookies-buttons {
    display: flex;
    justify-content: space-between;

}

.cookies-title {
    font-style: normal;

    font-size: 18px;
    margin: 5px;
    line-height: 20px;
    color: #4E4E4E;
}

.cookies-text {

    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    color: #777777;
}

.cookies-banner {

    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 10vh;
    z-index: 99;
    opacity: 1;
}

.cookies-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.banner-hidden {
    opacity: 0;
}