body {

    margin: 0;
    padding: 0;
    --native-color: #18CFAB;
    /* --native-color:red; */
}

.container {
        max-width: 1160px;
        width: 100%;
        margin: 0 auto;
        padding-left: 20px;
        padding-right: 20px;

}

@media (max-width:820px) {
    .container {
        max-width: 820px;
    }
}