.footer {
    background: #22353F;
}

.footer-content {
    text-align: center;
}

.footer-content-text {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    color: #AEAEAE;
    padding-top: 48px;
    padding-bottom: 47px;
}

.footer-content span {
    color: var(--native-color);
    border-right: 1px solid #AEAEAE   ;
    padding-right: 3px;
}