.d-Flex {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.d-Flex:last-child {
    margin-right: 0px;
}

.gallery-wrapper {
    display: flex;
    margin-top: 115px;
    justify-content: center;
}

.medium-imges-wrapper {
    display: flex;
}

.gallery-big-img {
    max-width: 378px;
 position: relative;
    margin-bottom: 20px;
}
.big-img-hover-block {
    opacity: 0;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
       transition: all 1s;
    background: rgba(0, 0, 0, 0.64);
    display: flex;
    align-items: center;
    
  }
  .zoom-ico1 {
      width: 27px;
      height: 27px;
      background-color: #14B9D5 ;
      background-image: url("../Img/Zoom_ico1.svg");
      background-repeat: no-repeat;
      background-position: center;
     margin-left: 20px; 
     border: none;
  }
  .zoom-ico2 {
    width: 27px;
    height: 27px;
    background-color: #14B9D5 ;
    background-image: url("../Img/zoom_ico2.svg");
    background-repeat: no-repeat;
      background-position: center;
      margin-left: 20px; 
      border: none;
}

.gallery-big-img:hover .big-img-hover-block {
    opacity: 1;
   
}

.gallery-medium-img:hover .medium-img-hover-block {
    opacity: 1;
}

.gallery-medium-img {
    width: 180px;
    margin-right: 3px;
    margin-bottom: 3px;
    position: relative;
}
.gallery-medium-img:last-child {
    margin-right: 0px;
}
.gallery-medium-img img {
    width: 100%;
    height: 100%;
} 
.medium-img-hover-block {
    opacity: 0;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
       transition: all 1s;
    background: rgba(0, 0, 0, 0.64);
    display: flex;
    align-items: center;
}
.container-small-img {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 3px;
}

.title-section-gallery {
    padding-top: 108px;
}

.section-gallery {
    text-align: center;
}
.gallery-small-img {
    position: relative;
}
.gallery-small-img img {
    width: 100%;
    height: 100%;
}
.gallery-small-img:hover .small-img-hover-block {
    opacity: 1;}


    .small-img-hover-block {
        opacity: 0;
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
           transition: all 1s;
        background: rgba(0, 0, 0, 0.64);
        display: flex;
        align-items: center;
    }


