.navbar {
    display: flex;
    align-items: center;

}

.navmenu {
    display: flex;
    align-items: center;

}

.page-header-bg {

    background: rgba(94, 93, 88, 0.6);

}

.page-header-menu {
    width: 1160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px auto;

}

.page-header {
    background-image: url("../Img/Header-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
       max-height: 1012px;
    height: 100%;
}

.logo {

    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 46px;
    color: #FFFFFF;
}

.logo-upper {
    text-transform: uppercase;
    font-weight: bold;
    padding: 18px 14px;
    margin-right: 6px;
    
    background-image: url("../Img/logo_bg.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 58px;
    height: 67px;
}

.green-span {
    font-weight: bold;
    color: var(--native-color);
}

.navbar-item-link {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 50px;
    display: flex;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6);
    border-bottom: 2px solid transparent;
    padding-bottom: 36px;
    transition: 0.5s;
}

.navbar-item-link:hover {
    color: var(--native-color);
    border-color: var(--native-color);

}

.navbar-item {
    padding-top: 38px;
    margin-right: 29px;

}

.title-slogan {

    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;

    color: #FFFFFF;
}

.title-slogan-upper {

    font-style: normal;
    font-weight: bold;
    font-size: 78px;
    margin: 22px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.slogan-wrapper {
    margin-top: 264px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    color: #D4D4D4;
}

.page-header-content {
    display: flex;
    flex-direction: column;
    align-items: center;

}