.news-card-list {

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
        "label1 label2 label3 label4"
        "label5 label6 label7 label8"; */
    column-gap: 35px;
    row-gap: 44px;
    margin-top: 100px;
    margin-bottom: 128px;
}

.card-link-block {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #203E38;
    width: 70px;
    height: 68px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.5s;
}

.card-link-block span {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: #FFFFFF;

}

.card-link {
    display: flex;
    flex-direction: column;
    
    position: relative;
}

/* .card-link-label1 {
    grid-area: label1;
}

.card-link-label2 {
    grid-area: label2;
}

.card-link-label2 {
    grid-area: label2;
}

.card-link-label3 {
    grid-area: label3;
}

.card-link-label4 {
    grid-area: label4;
}

.card-link-label5 {
    grid-area: label5;
}

.card-link-label6 {
    grid-area: label6;
}

.card-link-label7 {
    grid-area: label7;
}

.card-link-label8 {
    grid-area: label8;
} */

.card-title {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 39px;

    color: #717171;
    transition: 0.5s;
    padding-left: 15px;
}

.card-comments {
    font-style: normal;
    font-weight: 300;
    font-size: 13.991px;
    line-height: 39px;
    padding-left: 5px;
    color: #777777;
}
.card-comments span {
    padding-right: 10px;
       margin-left: 10px;
}
.card-comments span:first-child{
    border-right: 1.5px solid #777777;
        
}

.card-link:hover>.card-title {
    color: var(--native-color);
}

.card-link:hover>.card-link-block {
    background-color: var(--native-color);
    
}