.section-options {
    margin: 0 auto;
 
}

.options-list {
    display: flex;
    justify-content: center;

}

.option-list-item {
    width: 482px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-top: 10px solid #FFFFFF;
    border-bottom: 10px solid #FFFFFF;
    box-sizing: border-box;
    padding-top: 75px;
    padding-bottom: 100px;

}

.option-list-description {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    margin-top: 48px;
   
}

.option-list-item-dark {
    background: #1C2A33;
}

.option-list-item-dark>.option-list-description {
    color: var(--native-color);
}

.option-list-item-green {
    background: var(--native-color);
}

.option-list-item-green>.option-list-description {
    color: #FFFFFF;
}
.option-list-img-hide {
    display: none;
}