.purchase-section {

    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    position: relative;
}

.purchase-section-bg {
    position: relative;
    background-image:  url("../Img/section-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 91px;
  }
  .purchase-section-bg:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.7);
    z-index: 1;
  } 

.purchase-section-title {
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    color: var(--native-color);
    margin-top: 127px;

}

.purchase-section-span {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 40px;
    color: #D8D8D8;
    margin-top: 12px;

}