/* Слайдер */
.slick-slider{}
/* Слайдер запущен */
.slick-slider.slick-initialized{}
/* Слайдер с точками */
.slick-slider.slick-dotted{}
/* Ограничивающая оболочка */
.slider-nav.slick-list {
    overflow: hidden;
    width: 350px;
}
/* Лента слайдов */
.slider-nav .slick-track{
    display: flex;
    justify-content: center;
    width: 350px;
    margin-top: 10px;

}
/* Слайд */
.slider-nav.slick-slide{
    
  }

/* Слайд активный (показывается) */
.slick-slide.slick-active{}
/* Слайд основной */
.slider-nav .slick-current{
   margin-top: -10px;

}
/* Слайд по центру */
.slick-slide.slick-center{}
/* Клонированный слайд */
.slick-slide.slick-cloned{}
/* Стрелка */

/* Стрелка влево */
.slick-arrow.slick-prev{}
/* Стрелка вправо */
.slick-arrow.slick-next{}
/* Стрелка не активная */
.slick-arrow.slick-disabled{}

.section-reviews {
    background-image: url("../Img/section-3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
       /* max-height: 1012px;
    height: 100%; */
}
.title-section-reviews {
    color: #fff;
    padding-top: 98px;
   
}
.title-reviews-element {
    text-align: center;
    margin-top: 99px;
}
.reviews-content-foto {
width: 144px;
height: 144px;
}
.reviews-content{
text-align: center;
margin-top: 36px;
}
.reviews-content-text {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    color: #777777;
    
      
}
.reviews-content-name {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 27px;
    text-transform: uppercase;
    margin-top: 37px;
    color: var(--native-color);

}
.reviews-content-position {
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 27px;
    color: #777777;
    
}
.slider-nav {
    margin: 0 auto;
/* display: flex; */
width: 350px;
position: relative;
min-width: 0;
padding-bottom: 104px;
margin-top: 34px;
/* padding-top: 44px; */


}

.slick-arrow {
position: absolute;
top: 30px;
z-index: 10;
font-size: 0px;
width: 30px;
height: 30px;
border: 1px solid #BBBBBB;
background-color: rgba(0, 0, 0, 0);
    background-repeat: no-repeat;
    background-position: center;
}
.slick-arrow:hover {
    background-color: var(--native-color);
    border: none;
}
.slick-arrow.slick-prev:hover{
    background-image: url('../Img/arrow_prev_white.svg');
    
}
.slick-arrow.slick-next:hover{
    background-image: url('../Img/arrow_next_white.svg');
}
.slick-arrow.slick-prev {
left: -60px;
background-image: url('../Img/arrow_prev.svg');
}
.slick-arrow.slick-next {
right: -60px;
background-image: url('../Img/arrow_next.svg');
}