

.rounded-icon{
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    width: 40px;
height: 40px;
border: 1.5px solid #1FDAB5;
margin: 3px;
transition: 0.3s;
}

.rounded-icon svg path, .rounded-icon svg  {
    fill: #1FDAB5;
    transition: 0.3s;
}

.rounded-icon:hover svg path, .rounded-icon:hover svg  {
    fill:#E9EDEF;
}
.rounded-icon:hover {
    background: #1FDAB5;
}