.tabs-item {
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 39px;
    color: #717171;
    padding-top: 16px;
    padding-bottom: 16px;
    cursor: pointer;
    border: 1.5px solid transparent;
    background: #F8FCFE;
    transition: 0.5s;
}

.tabs-item:hover {
    border-color: var(--native-color);
}

.tabs-item-active {
    background: var(--native-color);
    color: #FFFFFF;
    display: block;
    position: relative;
    text-align: center;
}


.tabs-item-active::after {
    position: absolute;
    left: 43%;
    bottom: -15px;
    width: 0;
    height: 0;
    content: "";
    border-style: solid;
    border-width: 15px 13.5px 0 13.5px;
    border-color: var(--native-color) transparent transparent transparent;
}

.title-basic {
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 40px;
    color: #4E4E4E;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-basic::before,
.title-basic::after {
    display: block;
    bottom: -16px;
    content: "";
    width: 75px;
    height: 1px;
    position: absolute;
    background-color: var(--native-color);
}

.title-basic::after {
    bottom: -20px;
    left: 48%;
}

.title-section-services {
    margin-top: 83px;
    margin-bottom: 101px;
    flex: 1 0 100%;
}

.section-services {
    background-color: #FFFFFF;
}



.tabs-content-block {
    display: flex;
    margin-top: 23px;

}

.hide-tabs-content-block {
    display: none;
}

.tabs-content-block-active {
    display: block;
}

.tabs-content-block>img {
    height: 144px;
    width: 192px;

}

.tabs-content {
    font-style: normal;
    font-weight: 300;
    font-size: 13.645px;
    line-height: 24px;
    color: #777777;
    margin-left: 15px;

}

@media (max-width:820px) {
    .section-services {
        display: flex;
        flex-wrap: wrap;
    }

    .tabs-container {
        width: 80%;
        box-sizing: border-box;
        padding-left: 30px;
    }

    .tabs-list {
        width: 20%;
    }

    .tabs-content-block {
        display: block;
    }

    .tabs-content-block>img {
        margin: 0 10px 10px 0px;
        float: left;
    }

    .tabs-item-active::after {
        /* position: absolute; */
        left: 100%;
        bottom: calc(50% - 15px);
        width: 0;
        height: 0;
        content: "";
        border-style: solid;
        border-width: 13.5px 0 13.5px 15px;
        border-color: transparent transparent transparent var(--native-color);
    }
}

@media (min-width:821px) {
    .tabs-list {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
    }

}